:root {
    --background: white;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 2fr 150px 150px 100px;
}

h1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    text-align: center;
    font-size: 50px;
    font-family: Arial;
    margin: 0;
}

.gameboard {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px

}

.square {
    width: 100px;
    height: 100px;
    border: 5px solid black;
    background-color: grey;
    margin: 10px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    color: white;
    font-family: Arial;
}

#show-form {
    display: grid;
    justify-self: center;
    align-self: center;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: 0;
    padding: 15px;
    font-size: 20px;
    background-color: grey;
    color: white;
}

#show-form:hover {
    background-color: black;
    cursor: pointer;
}

#selectplayer {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    gap: 10px;
}

.playerturn-text {
    grid-row: 2 / 3;
    text-align: center;
    font-size: 30px;
    font-family: Arial;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    justify-content: center;
}

.highlight {
    grid-row: 2 / 3;
    text-align: center;
    font-size: 30px;
    font-family: Arial;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    justify-content: center;
    background-color: green;
}

.gameover {
    
}

.announce-winner-text {
    grid-row: 2 / 3;
    text-align: center;
    font-size: 30px;
    font-family: Arial;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
}

.fa-github {
    color: black;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    font-size: 20px;
}